<div>
    <button class="btn btn-outline-primary me-2" (click)="get400Error()">Test 400</button>
    <button class="btn btn-outline-primary me-2" (click)="get401Error()">401</button>
    <button class="btn btn-outline-primary me-2" (click)="get404Error()">404</button>
    <button class="btn btn-outline-primary me-2" (click)="get500Error()">500</button>
    <button class="btn btn-outline-primary me-2" (click)="get400ValidationError()">400Valid</button>

    @if (validationErrors && validationErrors.length > 0) {
    <div class="row mt-5">
        <div class="text-danger">
            <ul class="text-danger">
                <li *ngFor="let error of validationErrors">
                    {{error}}
                </li>
            </ul>
        </div>
    </div>
    }
</div>